.form-group{
    width: 100%;
}
#login-form,#reset-password-form{
    margin:0 80px;
    padding: 10px;
}
.icon{
    background: green;
    color: snow;
    min-width: 50px;
    text-align: center;
    font-size:30px;
    height: 45px;
    line-height: 45px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
#button-group{
    text-align: center;
    margin:30px 0;
}
div#reset-password-block{
    text-align: center;
    margin:30px 0;
}
#btn-login,#btn-reset-password{
    width: 160px;
    height: 45px;
}
#btn-login:hover{
    background-color: #286090;
}
#btn-reset-password{
    line-height: 30px;
}
#userCode,#password{
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#toggle-password{
    position: relative;
    width: 55px;
    margin-left: -55px;
    line-height: 40px;
    font-weight: 500;
}
#form-title{
    text-align: center;
    background-color: #1F497D;
    padding:14px;
    color:white;
    font-weight: 600;
}
p#block-account{
    color:red;
}
div.site-login{
    width: 50%;
    margin: 80px auto;
    background-color: white;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom: white;
}
p#note-message{
    text-align: center;
    font-weight: 500;
}
/*Reset pasword*/
a#return,a#return i{
    color:black;
    font-size:16px;
    text-decoration-line: none;
}
a#return:hover,a#return i:hover{
    color:#1F497D;
}
h3#reset-password-title{
    font-weight: 500;
    color:black;
}
div#reset-password-content,div#expired-registration-content{
    width: 55%;
    margin: 80px auto;
}
#reset-userCode{
    height: 45px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
#btn-verify-email{
    background-color:#1F497D;
    width: 160px;
    height: 45px;
    text-align: center;
}
#btn-verify-email:hover{
    background-color: #286090;
}
h4#reset-note{
    text-align: center;
    font-weight: 600;
}
#confirm-message{
    font-weight: bold;
    font-size:17px;
    text-align: center;
}
#btn-group{
    margin:15px auto;
    text-align: center;
}
#btn-send,#btn-cancel,#btn-change-cancel,#btn-change-pwd{
    width: 140px;
    height: 35px;
    margin-left: 5px;
    border:1px solid #33b5e5;
}
#btn-send,#btn-change-pwd{
    background-color:#33b5e5;
    color:white
}
#btn-send:hover{
    background-color: #3bace5;
}
#btn-cancel:hover{
    border:white
}
#send-mail-modal div.modal-header,#confirm-change-pwd-modal div.modal-header{
    color: whitesmoke;
    background-color: #33b5e5;
    font-size:18px;
}
#check-mail-modal div.modal-header,#change-pwd-notice div.modal-header{
    color:whitesmoke;
    background-color:#5cb85c ;
    font-size:18px;
}
#btn-close-mail {
    width: 140px;
    height: 35px;
}
/* setting password */
#setting-pwd,#setting-re-pwd{
    height: 45px;
}
form#setting-password-form .form-group{
    margin-left: 0;
}
.setting-pwd-label{
    width: 180px;
    line-height: 45px;
}
div#reset-password-content ul li{
    font-size: 16px;
}
#btn-register-pwd{
    width: 160px;
    height: 45px;
    background-color: #1F497D;
}
form#setting-password-form{
    background-color: white;
    padding:15px;
}
#toggle-password:hover{
    cursor: pointer;
}

#setting-re-pwd,#setting-pwd,#userCode,#password{
    background-color: aliceblue;
    border:1px solid aliceblue;
}
div.custom-error{
    margin-left:154px;
}
p.custom-error{
    text-align: center;
    color: red;
    font-size:16px;
    font-weight: bold;
}
/* registration expired*/
div#expired-registration-content p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

