
.items > div{
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}
.item {
    border-top:1px solid black;
    border-left:1px solid black;
}

.item .child{
    padding-left: 30px;
}
.header{
    border-top: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
.item .name, .header{
    padding-left: 5px;
    height: 40px;
    line-height: 40px;
}
.item-value{
    float: right;
    width: 200px;
    height: 40px;
    border-left:1px solid black;
    text-align: center;
}
#first-item{
    width: calc(100% - 600px);
    float: left;
    text-align: center;
}

