
tr.header-table th{
    text-align: center;
}
.btn-event{
    width: 20%;
}
.form-inline .filter-form{
    width: 49%;
    margin:15px 0;
}
.form-inline .filter-form input,.form-inline .filter-form select{
    width:70%;
}
.form-inline .filter-form label{
    width: 19%;
    text-align: left;
}
.input-group{
    width: 70%;
}
div.filter-form div.form-group{
    width: 90%;
}
.error-summary{
    background: none;
    border-left: none;
}
.error-summary ul {
    list-style: none;
}
td#td-audio:hover{
    cursor: pointer;
}

